@charset 'utf-8';
body {
    background-color: #9c9;
}


/*登录表单*/

.ls h3,
.question {
    border-bottom: 1px solid #ccc;
}

.ls label,
.question {
    background-color: rgba(255, 255, 255, .8);
}

.question {
    width: 310px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.answer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.q-live:before {
    position: absolute;
    top: 50%;
    left: 7px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    content: '';
    border-radius: 50%;
    background-color: #09f;
}

.ls label:hover,
.question li:hover,
.q-live {
    background-color: rgba(255, 255, 255, .9);
    -webkit-box-shadow: 0 0 20px #ffc;
    -moz-box-shadow: 0 0 20px #ffc;
    box-shadow: 0 0 20px #ffc;
}
