.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4 {
    opacity: .5;
    filter: alpha(opacity=50);
}

.imgareaselect-border1 {
    border: solid 1px #000;
}

.imgareaselect-border2 {
    border: dashed 1px #fff;
}

.imgareaselect-handle {
    opacity: .5;
    border: solid 1px #000;
    background-color: #fff;
    filter: alpha(opacity=50);
}

.imgareaselect-outer {
    opacity: .4;
    background-color: #000;
    filter: alpha(opacity=40);
}

.imgareaselect-selection {
    opacity: 0;
    background-color: #fff;
    filter: alpha(opacity=0);
}
