@charset 'utf-8';

/*返回*/

.main {
    min-width: 1004px;
    padding-top: 50px;
}

.ch-goback_outer {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: rgba(0, 0, 0, .5);
}

.ch-goback_outer > div {
    width: 1004px;
    margin: 0 auto;
}

.ch-who {
    line-height: 36px;
    float: left;
    margin-left: 20px;
    color: #ccc;
}


/*外部1004px*/

.ch-outer {
    border-top: 1px solid #999;
    border-bottom: 1px solid #ccc;
    background-color: rgba(0, 0, 0, .5);
}

.ch-outer-con {
    width: 1004px;
    margin: 10px auto;
}

.file_submit_bg,
.ok,
.ch-goback {
    line-height: 36px;
    float: left;
    width: 300px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 1px solid #6cf;
    border-radius: 4px;
    background-color: transparent;
}

.ch-goback {
    width: 150px;
    text-decoration: none;
}

.ok {
    width: 100px;
    margin-left: 50px;
}

.file_submit_bg:hover,
.ok:hover,
.ch-goback:hover {
    color: #6cf;
}

.flie_submit,
.submit {
    display: none;
}

#photo {
    display: inline-block;
    width: 300px;
    height: 300px;
    vertical-align: top;
    border: 1px solid #6cf;
}

.sec_outer {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 46px;
    border: 1px solid #6cf;
}

#sec {
    min-width: 1px !important;
    min-height: 1px !important;
}


/*编辑图片的边框*/

.imgareaselect-outer {
    border: 1px dashed #6cf;
}


/*错误提示*/

#ch-error_outer {
    position: fixed;
    z-index: 1;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

#ch-error_outer > div {
    font-family: 微软雅黑;
    font-size: 16px;
    height: 22px;
    /*width: 150px;*/
    padding: 2px 10px;
    text-align: center;
    letter-spacing: 2px;
    border-top: 2px solid #6cf;
    background-color: #fff;
}
